
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUserNoRegis.cshtml";
}


<div class="container">
    <div class="jumbotron text-center">
        <h2 class="text-center">CONTACTO DE DIVISIÓN DE TI  <img src="https://sicea.utpuebla.edu.mx/images/logoUTP.png" width="100px" height="100px"></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="invoice-cmp-ds ivc-frm">
                <div class="comp-tl">
                    <h3>CORREO ELECTRÓNICO</h3>
                </div>
                <div class="comp-tl">
                    <h3>TELÉFONO</h3>
                </div>
                <div class="comp-tl">
                    <h3>LUGAR</h3>
                </div>
                <div class="comp-tl">
                    <h3>HORARIO</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="invoice-cmp-ds ivc-to">
                <div class="comp-tl">
                    <LABEL>AURORA.LOPEZ@UTPUEBLA.EDU.MX</LABEL>
                </div>
                <div class="comp-tl">
                    <LABEL>(222)309-88-61/(222)309-88-70</LABEL>
                </div>
                <div class="comp-tl">
                    <LABEL>EDIFICIO DOCENCIA NO-5/LABORATORIO K5</LABEL>
                </div>
                <div class="comp-tl">
                    <LABEL>9:00 HRS A 17:00 HRS/ LUNES A VIERNES</LABEL>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="jumbotron text-center">
            <h2 class="text-center">CONTACTENOS <img src="https://www.shock.co/sites/default/files/u38/emojis_que_no_son_lo_que_parecen_carita_al_reves_whatsapp_shock_carita_guino_ojo.jpg" class="img-thumbnail" width="70px" height="70px"> </h2>
        </div>
    </div>


    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="invoice-cmp-ds ivc-frm">
                    <div class="comp-tl">
                        <H3>NOMBRE</H3>
                    </div>
                    <div class="comp-tl">
                        <h3>CORREO ELECTRÓNICO</h3>
                    </div>
                    <div class="comp-tl">
                        <h3>MENSAJE</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="invoice-cmp-ds ivc-to">
                    <div class="comp-tl">
                        <h3><input type="text" class="form-control input-sm" placeholder="ESCRIBIR NOMBRE"></h3>
                    </div>
                    <div class="comp-tl">
                        <h3><input type="text" class="form-control input-sm" placeholder="ESCRIBIR CORREO INSTITUCIONAL"></h3>
                    </div>
                    <div class="comp-tl">
                        <textarea name="comentarios" rows="10" cols="40" placeholder="ESCRIBA SU MENSAJE AQUI"></textarea>

                    </div>
                    <div class="comp-tl">
                        <button class="btn btn-success notika-btn-success waves-effect">ENVIAR</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
