
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutMaestro.cshtml";
}

<div class="container">
    <div class=" text-center">
        <img src="~/img/index/Asesorias_en_linea_1.png" width="100%" height="600">
    </div>


</div>


<div class="container">
    <div class="jumbotron text-center">
        <h1>
            MY OWN CLASS ONLINE SIR
            <img src="~/img/logo/logo4.png" class="rounded" style="width:90px; height: 75px;" />
        </h1>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class=" text-center">
                <img src="https://cdn.discordapp.com/attachments/715339109706629144/722585533536272384/video.png" class="img-thumbnail" width="150 " height="150 ">
            </div>
            <p class="text-center" style="font-size:25px">
                Podras visualizar videos sobre los temas de las materia que necesitas apoyo.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="https://cdn.discordapp.com/attachments/715339109706629144/722585367496228864/pdf_1.png" class="img-thumbnail" width="150" height="150">
            </div>
            <p class="text-center" style="font-size:25px">
                Contaras con el material necesario de la materia que eligan, en este caso serian las antologías.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

            <div class="text-center">

                <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/mac_apps/facetime/macos-sierra-facetime-app-icon.png" class="img-thumbnail" width="150" height="150">

            </div>
            <p class="text-center" style="font-size:25px">
                La posibilidad de realizar video llamadas a sus profesores para resolver dudas de algun tema en especifico.

            </p>
        </div>
    </div>
</div>

