
@{
    ViewBag.Title = "Materia";
    Layout = "~/Views/Shared/_LayoutMaestro.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcomb-wp">
                            <div class="breadcomb-icon">
                                <i class="notika-icon notika-support"></i>
                            </div>
                            <div class="breadcomb-ctn">
                                <h2>Materia</h2>
                                <p>Programación</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Inbox area Start-->
<div class="inbox-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="inbox-left-sd">
                    <div class="compose-ml">
                        <a class="btn waves-effect" href="#">Unidades</a>
                    </div>
                    <div class="inbox-status">
                        <ul class="inbox-st-nav inbox-ft">
                            <li><a href="Insertar_Unidad"><i class="notika-icon notika-sent"></i> Crear</a></li>
                            <li><a href="#"><i class="notika-icon notika-draft"></i> Modificar</a></li>
                            <li><a href="#"><i class="notika-icon notika-trash"></i> Eliminar</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="compose-ml">
                        <a class="btn waves-effect" href="#">Temas</a>
                    </div>
                    <div class="inbox-status">
                        <ul class="inbox-st-nav inbox-ft">
                            <li><a href="#"><i class="notika-icon notika-sent"></i> Crear</a></li>
                            <li><a href="#"><i class="notika-icon notika-draft"></i> Modificar</a></li>
                            <li><a href="#"><i class="notika-icon notika-trash"></i> Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <div class="accordion-stn">
                        <div class="panel-group" data-collapse-color="nk-green" id="accordionGreen" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-collapse notika-accrodion-cus">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-one" aria-expanded="true">
                                            Unidad 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-one" class="collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="bsc-tbl-cls">
                                            <table class="table table-cl">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Unidad</th>
                                                        <th>Tema</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="active">
                                                        <td>1</td>
                                                        <td>Unidad I</td>
                                                        <td>Maquetacion Pagina Web</td>
                                                    </tr>
                                                    <tr class="active">
                                                        <td>2</td>
                                                        <td>Unidad I</td>
                                                        <td>Barra Navegacion</td>
                                                    </tr>
                                                    <tr class="active">
                                                        <td>3</td>
                                                        <td>Unidad I</td>
                                                        <td>Subproducto 1</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-collapse notika-accrodion-cus">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-two" aria-expanded="false">
                                            Unidad 2
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-two" class="collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="bsc-tbl-cls">
                                            <table class="table table-cl">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Unidad</th>
                                                        <th>Tema</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="info">
                                                        <td>1</td>
                                                        <td>Unidad II</td>
                                                        <td>Arquitectura de la Informacion</td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>2</td>
                                                        <td>Unidad II</td>
                                                        <td>Tipos de Usuario</td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>3</td>
                                                        <td>Unidad II</td>
                                                        <td>Mapa de Estructuracion</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-collapse notika-accrodion-cus">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-three" aria-expanded="false">
                                            Unidad 3
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-three" class="collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="bsc-tbl-cls">
                                            <table class="table table-cl">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Unidad</th>
                                                        <th>Tema</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="warning">
                                                        <td>1</td>
                                                        <td>Unidad III</td>
                                                        <td>Ingeniería Web</td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <td>2</td>
                                                        <td>Unidad III</td>
                                                        <td>Arquitectura de la Información</td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <td>3</td>
                                                        <td>Unidad III</td>
                                                        <td>Desarrollo Web</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-collapse notika-accrodion-cus">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-four" aria-expanded="false">
                                            Unidad 4
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-four" class="collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="bsc-tbl-cls">
                                            <table class="table table-cl">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Unidad</th>
                                                        <th>Tema</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="alert">
                                                        <td>1</td>
                                                        <td>Unidad II</td>
                                                        <td>Ingeniería Web</td>
                                                    </tr>
                                                    <tr class="alert">
                                                        <td>2</td>
                                                        <td>Unidad II</td>
                                                        <td>Arquitectura de la Información</td>
                                                    </tr>
                                                    <tr class="alert">
                                                        <td>3</td>
                                                        <td>Unidad II</td>
                                                        <td>Desarrollo Web</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-collapse notika-accrodion-cus">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-five" aria-expanded="false">
                                            Unidad 5
                                        </a>
                                    </h4>
                                </div>
                                <div id="accordionGreen-five" class="collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="bsc-tbl-cls">
                                            <table class="table table-cl">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Unidad</th>
                                                        <th>Tema</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="success">
                                                        <td>1</td>
                                                        <td>Unidad II</td>
                                                        <td>Ingeniería Web</td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>2</td>
                                                        <td>Unidad II</td>
                                                        <td>Arquitectura de la Información</td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>3</td>
                                                        <td>Unidad II</td>
                                                        <td>Desarrollo Web</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inbox area End-->
