
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <em><h2 class="text-center">"MY OWN CLASS ONLINE SR" </h2></em>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
            <h2 class="text-center">Asesorias en línea </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <p class="text-center">
                Este sitio web nos proporciona la oportunidad de tomar asesorias desde la comodidad del hogar,
                en tiempo real, al igual se le podran programar proximas asesorias si el alumno lo desea así.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class=" text-center">
                <img src="https://cdn.discordapp.com/attachments/715339109706629144/722585533536272384/video.png" class="img-thumbnail" width="150 " height="150 ">
            </div>
            <p class="text-center" style="font-size:25px">
                Podras visualizar videos sobre los temas de las materia que necesitas apoyo.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="https://cdn.discordapp.com/attachments/715339109706629144/722585367496228864/pdf_1.png" class="img-thumbnail" width="150" height="150">
            </div>
            <p class="text-center" style="font-size:25px">
                Contaras con el material necesario de la materia que eligan, en este caso serian las antologías.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

            <div class="text-center">

                <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/mac_apps/facetime/macos-sierra-facetime-app-icon.png" class="img-thumbnail" width="150" height="150">

            </div>
            <p class="text-center" style="font-size:25px">
                La posibilidad de realizar video llamadas a sus profesores para resolver dudas de algun tema en especifico.

            </p>
        </div>
    </div>
</div>